div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: beige;
    padding: 1em 2em;
    margin: 1em;
}

header {
    border-bottom: 1px solid goldenrod;
}

h1 {
    color: #333333;
}

p {
    color: gray;
}
